# Binaries
bin/
/slimjson
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Testing artifacts
testing/compression_test
testing/compression_benchmark

# Dependency directories (remove the comment below to include it)
# vendor/

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock

# Go workspace file
go.work

# IDEs
.idea/
.vscode/
*.iml

# User config files (keep .slimjson.example)
.slimjson
